@use "variables" as *;

.section__before-after {
    padding: 30px 0;

    @media screen and (min-width: 768px) {
        padding: 50px;
    }
}

.section__before-after__desc {
    margin-top: 10px;
}

.section__before-after__list {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    overflow-x: auto;
    padding: 30px 0 30px 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}

.section__before-after__list__item {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    width: 300px;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: center;


    @media screen and (min-width: 768px) {
        width: 400px;
    }

    @media screen and (min-width: 1200px) {
        width: 500px;
    }
}


.section__before__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0 30px 0;

    .section__before__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-teal-light;
        border: none;
        padding: 0;
        cursor: pointer;
        opacity: 0.4;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.7;
        }

        /* Активна крапочка стає довшою та виділяється темнішим телом */
        &.active {
            opacity: 1;
            width: 26px;
            border-radius: 12px;
            background-color: $color-teal-medium;
        }
    }
}