@use "variables" as *;

.section__footer {
    background-color: $color-teal-dark;
    padding-top: 20px;
    color: $color-bg-light;
    font-size: 14px;
    position: relative;

}

.section__footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding-bottom: 40px;

    & a {
        color: $color-text-main;
        font-weight: 600;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }
}

.section__footer__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    text-transform: uppercase;

}

.section__footer__logo {
    width: 80px;
    height: auto;
}

.section__footer__policies {
    display: inline-block;
    color: $color-white;
    border-bottom: 1px $color-white solid;
    text-align: center;
    width: 180px;
    margin: 0 auto;
}

.section__footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 50px;
}

.section__footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__footer__rights-reserved {
    margin-top: 10px;
}

.section__footer__button {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: $color-card-bg;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;

}