@use "variables" as *;


.section__hero {
    background-image: linear-gradient(to right,
            #ffffff 0%,
            rgba(255, 255, 255, 0.95) 30%,
            rgba(255, 255, 255, 0.4) 55%,
            transparent 75%), url(../images/hero4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 20px 200px 20px;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 100px 40px 200px 40px;
    }

    @media screen and (min-width: 992px) {
        padding: 200px 40px 200px 40px;
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 200px 200px 200px;
    }

    @media screen and (min-width: 1600px) {
        padding: 250px 200px 200px 250px;
    }
}


.logo__container__descktop {
    display: none;

    @media screen and (min-width: 992px) {
        display: block;
        position: absolute;
        top: -100px;
        left: 0;
    }
}

.header__container__desctop__logo {
    width: 300px;
    height: auto;
}

.section__hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    & button {
        width: 200px;
    }

    @media screen and (min-width: 768px) {
        max-width: 480px;
        width: 100%;
        padding: 0;
    }


}

.section__hero__title {
    font-family: $accent-font;
    color: $color-teal-medium;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: left;


    @media screen and (min-width: 768px) {
        font-size: 50px;
    }


}


.section__hero__description {
    color: $color-teal-dark;
    font-size: 16px;
    font-weight: 600;


    @media screen and (min-width: 768px) {
        font-size: 30px;
    }
}

.section__hero__enjoy {
    color: $color-text-muted;
    font-size: 16px;
    font-weight: 500;

    & span {
        color: $color-teal-dark;
    }
}


.section__hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;

    @media screen and (min-width: 1200px) {
        display: none;

    }


}

.section__hero__icon {
    width: 30px;
    height: 30px;
    fill: $color-white;
    position: absolute;
    bottom: 10px;
    right: 50px;

    @media screen and (min-width: 768px) {
        width: 50px;
        height: 50px;
        right: 90px;
        bottom: 30px;
    }

    @media screen and (min-width: 992px) {
        width: 80px;
        height: 80px;
        right: 150px;
        bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        fill: $color-teal-dark;

    }
}