@use "variables" as *;


.section__price {
    padding: 60px 0;
}

.section__price__description {
    margin: 20px 0px;
    color: $color-teal-dark;
}

.section__price__list__item-card__description__bottom {
    color: $color-teal-dark;
    font-size: 14px;
    margin-bottom: 10px;
}

.section__price__list {
    display: grid;
    grid-auto-flow: column;
    // grid-auto-columns: min-max(300px, 1fr);
    gap: 15px;
    padding-bottom: 30px;
    overflow-x: scroll;

    scroll-padding: 2rem;
    padding: 30px 0;

    scrollbar-width: thin;
    scrollbar-color: $color-teal-medium $color-bg-light;
}

.section__price__list__item {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    position: relative;

}

.section__price__list__item-card {
    background: $color-card-bg;
    border: 1px solid $color-border;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.3s ease;
    position: relative;

    &:hover {
        transform: translateY(-5px);
    }

}

.section__price__list__item-card__title-container {
    display: flex;

}

.section__price__list__item-card__popular {
    font-size: 12px;
    background-color: $color-teal-light;
    color: $color-white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.section__price__list__item-card__title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.section__price__list__item-card__price {
    font-weight: 600;
}

.section__price__list__item-card__description {
    color: $color-text-muted;
    font-size: 14px;
    margin: 16px 0;
}

.section__price__list__item-card__list {
    margin-bottom: 20px;
}

.section__price__list__item-card__list__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: $color-text-muted;
    line-height: 1.4;
    transition: color 0.3s ease;

    &::before {
        content: '✦';
        position: absolute;
        left: 0;
        top: 0;
        color: $color-teal-medium;
        font-size: 0.85rem;
        transition: transform 0.3s ease, color 0.3s ease;
    }
}

.section__price__item-card__price-tag {
    font-size: 16px;
    text-transform: uppercase;
    color: $color-teal-medium;
    background: $color-white;
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid $color-border;
    margin: 0 auto;

    &:hover,
    &:focus {
        background-color: $color-teal-medium;
        color: $color-white;
    }
}

.section__prise__minimum {
    margin-top: 30px;
    color: $color-teal-dark;
}

.section__prise__conditions {
    margin-top: 20px;

    & span {
        color: $color-teal-dark;
        font-weight: 500;
    }
}